Data Cleaning

In [91]:
#libraries
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [92]:
#fetch the data and view the data
conn = sqlite3.connect("data/bmarket.db")
df = pd.read_sql_query("SELECT * FROM bank_marketing;", conn)
conn.close()
df.head()

,Client ID,Age,Occupation,Marital Status,Education Level,Credit Default,Housing Loan,Personal Loan,Contact Method,Campaign Calls,Previous Contact Days,Subscription Status
0,32885,57 years,technician,married,high.school,no,no,yes,Cell,1,999,no
1,3170,55 years,unknown,married,unknown,unknown,yes,no,telephone,2,999,no
2,32207,33 years,blue-collar,married,basic.9y,no,no,no,cellular,1,999,no
3,9404,36 years,admin.,married,high.school,no,no,no,Telephone,4,999,no
4,14021,27 years,housemaid,married,high.school,no,None,no,Cell,2,999,no

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Client ID              41188 non-null  int64
 1   Age                    41188 non-null  object
 2   Occupation             41188 non-null  object
 3   Marital Status         41188 non-null  object
 4   Education Level        41188 non-null  object
 5   Credit Default         41188 non-null  object
 6   Housing Loan           16399 non-null  object
 7   Personal Loan          37042 non-null  object
 8   Contact Method         41188 non-null  object
 9   Campaign Calls         41188 non-null  int64
 10  Previous Contact Days  41188 non-null  int64
 11  Subscription Status    41188 non-null  object
dtypes: int64(3), object(9)
memory usage: 3.8+ MB

In [94]:
# See unique values for all the columns
for col in df.columns:
    print(f"{col}")
    print(df[col].unique())
    print()

Client ID
[32885  3170 32207 ... 38159   861 15796]

Age
['57 years' '55 years' '33 years' '36 years' '27 years' '58 years'
 '48 years' '150 years' '24 years' '34 years' '42 years' '43 years'
 '26 years' '37 years' '46 years' '59 years' '49 years' '30 years'
 '51 years' '45 years' '31 years' '41 years' '38 years' '47 years'
 '69 years' '50 years' '25 years' '39 years' '44 years' '52 years'
 '35 years' '77 years' '40 years' '56 years' '53 years' '60 years'
 '29 years' '28 years' '54 years' '32 years' '81 years' '63 years'
 '21 years' '22 years' '74 years' '80 years' '62 years' '68 years'
 '86 years' '23 years' '71 years' '67 years' '65 years' '20 years'
 '19 years' '66 years' '75 years' '18 years' '72 years' '70 years'
 '82 years' '85 years' '61 years' '88 years' '83 years' '78 years'
 '64 years' '17 years' '76 years' '73 years' '79 years' '89 years'
 '84 years' '91 years' '98 years' '92 years' '95 years']

Occupation
['technician' 'unknown' 'blue-collar' 'admin.' 'housemaid' 'retired'
 'services' 'entrepreneur' 'unemployed' 'management' 'self-employed'
 'student']

Marital Status
['married' 'divorced' 'single' 'unknown']

Education Level
['high.school' 'unknown' 'basic.9y' 'professional.course'
 'university.degree' 'basic.4y' 'basic.6y' 'illiterate']

Credit Default
['no' 'unknown' 'yes']

Housing Loan
['no' 'yes' None 'unknown']

Personal Loan
['yes' 'no' None 'unknown']

Contact Method
['Cell' 'telephone' 'cellular' 'Telephone']

Campaign Calls
[  1   2   4   7   3 -11  15  -3  12   9  -1   5  -9  -5   6  13  -2  14
 -12  42   8  11  -4  17  18  10  -8  -6  28  33  -7  16  24  20  21  22
  23 -14  19 -29  26 -18 -13  25 -16 -28  32 -22  27  30  29  31 -10 -20
 -35  56 -17 -15 -32  40 -21 -23  43  35 -19  34 -41  39  37 -25]

Previous Contact Days
[999   3  10   6  13   4  12   5   9  15  14   7  16   1   0   2  11   8
  17  18  21  19  26  22  27  20  25]

Subscription Status
['no' 'yes']

In [95]:
# Checking for NAN values for the columns
df.isnull().sum()

Client ID                    0
Age                          0
Occupation                   0
Marital Status               0
Education Level              0
Credit Default               0
Housing Loan             24789
Personal Loan             4146
Contact Method               0
Campaign Calls               0
Previous Contact Days        0
Subscription Status          0
dtype: int64

In [96]:
# Remove years, strip spaces, and convert to integer in the age columns
df['Age'] = df['Age'].str.extract(r'(\d+)').astype(int)
df

,Client ID,Age,Occupation,Marital Status,Education Level,Credit Default,Housing Loan,Personal Loan,Contact Method,Campaign Calls,Previous Contact Days,Subscription Status
0,32885,57,technician,married,high.school,no,no,yes,Cell,1,999,no
1,3170,55,unknown,married,unknown,unknown,yes,no,telephone,2,999,no
2,32207,33,blue-collar,married,basic.9y,no,no,no,cellular,1,999,no
3,9404,36,admin.,married,high.school,no,no,no,Telephone,4,999,no
4,14021,27,housemaid,married,high.school,no,None,no,Cell,2,999,no
...,...,...,...,...,...,...,...,...,...,...,...,...
41183,6266,58,retired,married,professional.course,unknown,no,no,Telephone,2,999,no
41184,11285,37,management,married,university.degree,no,no,no,telephone,1,999,no
41185,38159,35,admin.,married,high.school,no,None,no,cellular,1,4,yes
41186,861,40,management,married,university.degree,no,None,no,telephone,2,999,no
41187,15796,29,admin.,single,university.degree,no,yes,no,Cell,2,999,no

In [97]:
#Check for unrealistic data in age for <18 and >100
underage = df[df['Age'] < 18]
overage = df[df['Age'] > 100]

print("Number of clients with Age < 18:", len(underage))
print("Number of clients with Age > 100:", len(overage))

Number of clients with Age < 18: 5
Number of clients with Age > 100: 4197

In [98]:
# drop the realistic age 
df = df[(df['Age'] >= 18) & (df['Age'] <= 100)]
df

,Client ID,Age,Occupation,Marital Status,Education Level,Credit Default,Housing Loan,Personal Loan,Contact Method,Campaign Calls,Previous Contact Days,Subscription Status
0,32885,57,technician,married,high.school,no,no,yes,Cell,1,999,no
1,3170,55,unknown,married,unknown,unknown,yes,no,telephone,2,999,no
2,32207,33,blue-collar,married,basic.9y,no,no,no,cellular,1,999,no
3,9404,36,admin.,married,high.school,no,no,no,Telephone,4,999,no
4,14021,27,housemaid,married,high.school,no,None,no,Cell,2,999,no
...,...,...,...,...,...,...,...,...,...,...,...,...
41183,6266,58,retired,married,professional.course,unknown,no,no,Telephone,2,999,no
41184,11285,37,management,married,university.degree,no,no,no,telephone,1,999,no
41185,38159,35,admin.,married,high.school,no,None,no,cellular,1,4,yes
41186,861,40,management,married,university.degree,no,None,no,telephone,2,999,no
41187,15796,29,admin.,single,university.degree,no,yes,no,Cell,2,999,no

In [99]:
#Check min and max age
print("Min age:", df['Age'].min())
print("Max age:", df['Age'].max())

Min age: 18
Max age: 98

In [100]:
#Remove all non alphanumeric
df['Occupation'] = df['Occupation'].str.replace(r'[^a-zA-Z0-9\-]', '', regex=True)
df

C:\Users\hhaow\AppData\Local\Temp\ipykernel_2976\4086115683.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Client ID,Age,Occupation,Marital Status,Education Level,Credit Default,Housing Loan,Personal Loan,Contact Method,Campaign Calls,Previous Contact Days,Subscription Status
0,32885,57,technician,married,high.school,no,no,yes,Cell,1,999,no
1,3170,55,unknown,married,unknown,unknown,yes,no,telephone,2,999,no
2,32207,33,blue-collar,married,basic.9y,no,no,no,cellular,1,999,no
3,9404,36,admin,married,high.school,no,no,no,Telephone,4,999,no
4,14021,27,housemaid,married,high.school,no,None,no,Cell,2,999,no
...,...,...,...,...,...,...,...,...,...,...,...,...
41183,6266,58,retired,married,professional.course,unknown,no,no,Telephone,2,999,no
41184,11285,37,management,married,university.degree,no,no,no,telephone,1,999,no
41185,38159,35,admin,married,high.school,no,None,no,cellular,1,4,yes
41186,861,40,management,married,university.degree,no,None,no,telephone,2,999,no
41187,15796,29,admin,single,university.degree,no,yes,no,Cell,2,999,no

In [101]:
# Remove the '.'
df['Education Level'] = df['Education Level'].str.replace('.', ' ', regex=False)
df

C:\Users\hhaow\AppData\Local\Temp\ipykernel_2976\2652065599.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Client ID,Age,Occupation,Marital Status,Education Level,Credit Default,Housing Loan,Personal Loan,Contact Method,Campaign Calls,Previous Contact Days,Subscription Status
0,32885,57,technician,married,high school,no,no,yes,Cell,1,999,no
1,3170,55,unknown,married,unknown,unknown,yes,no,telephone,2,999,no
2,32207,33,blue-collar,married,basic 9y,no,no,no,cellular,1,999,no
3,9404,36,admin,married,high school,no,no,no,Telephone,4,999,no
4,14021,27,housemaid,married,high school,no,None,no,Cell,2,999,no
...,...,...,...,...,...,...,...,...,...,...,...,...
41183,6266,58,retired,married,professional course,unknown,no,no,Telephone,2,999,no
41184,11285,37,management,married,university degree,no,no,no,telephone,1,999,no
41185,38159,35,admin,married,high school,no,None,no,cellular,1,4,yes
41186,861,40,management,married,university degree,no,None,no,telephone,2,999,no
41187,15796,29,admin,single,university degree,no,yes,no,Cell,2,999,no

In [102]:
# Replace nulls with "unknown" to keep it as the same as the rest which was unknown
df['Housing Loan'] = df['Housing Loan'].fillna('unknown')
df['Personal Loan'] = df['Personal Loan'].fillna('unknown')
print(df[['Housing Loan', 'Personal Loan']].isnull().sum())
print(df[['Housing Loan', 'Personal Loan']].value_counts())

Housing Loan     0
Personal Loan    0
dtype: int64
Housing Loan  Personal Loan
unknown       no               16567
yes           no                5731
no            no                5126
unknown       unknown           3053
              yes               3036
yes           yes               1185
no            yes                820
yes           unknown            770
no            unknown            698
Name: count, dtype: int64

C:\Users\hhaow\AppData\Local\Temp\ipykernel_2976\1940294484.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hhaow\AppData\Local\Temp\ipykernel_2976\1940294484.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [103]:
#Data Standardization for Contact Method
df['Contact Method'] = df['Contact Method'].str.lower()  # or .str.title()
df

C:\Users\hhaow\AppData\Local\Temp\ipykernel_2976\3709559022.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Client ID,Age,Occupation,Marital Status,Education Level,Credit Default,Housing Loan,Personal Loan,Contact Method,Campaign Calls,Previous Contact Days,Subscription Status
0,32885,57,technician,married,high school,no,no,yes,cell,1,999,no
1,3170,55,unknown,married,unknown,unknown,yes,no,telephone,2,999,no
2,32207,33,blue-collar,married,basic 9y,no,no,no,cellular,1,999,no
3,9404,36,admin,married,high school,no,no,no,telephone,4,999,no
4,14021,27,housemaid,married,high school,no,unknown,no,cell,2,999,no
...,...,...,...,...,...,...,...,...,...,...,...,...
41183,6266,58,retired,married,professional course,unknown,no,no,telephone,2,999,no
41184,11285,37,management,married,university degree,no,no,no,telephone,1,999,no
41185,38159,35,admin,married,high school,no,unknown,no,cellular,1,4,yes
41186,861,40,management,married,university degree,no,unknown,no,telephone,2,999,no
41187,15796,29,admin,single,university degree,no,yes,no,cell,2,999,no

In [104]:
#check for negative calls
negative_calls = df[df['Campaign Calls'] < 0]
print("Negative Campaign Calls count:", len(negative_calls))

Negative Campaign Calls count: 3744

In [105]:
# Cleaning for negative calls 
df = df[df['Campaign Calls'] >= 0]
print("Minimum Campaign Calls:", df['Campaign Calls'].min())

Minimum Campaign Calls: 1

In [106]:
#check for negative calls
negative_calls = df[df['Previous Contact Days'] < 0]
print("Negative Previous Contact Days count:", len(negative_calls))

Negative Previous Contact Days count: 0

In [107]:
print(df['Subscription Status'].value_counts())

Subscription Status
no     29428
yes     3814
Name: count, dtype: int64

In [108]:
#Convert yes/no to 1/0:
df['Subscription Status'] = df['Subscription Status'].map({'no': 0, 'yes': 1})

C:\Users\hhaow\AppData\Local\Temp\ipykernel_2976\1255101742.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [109]:
print(df['Subscription Status'].unique())

[0 1]

Feature Engineering